<div class="w-full">
  <div class="bg-gray-950 text-white w-full h-1/2 shadow-lg p-6">
    <div class="flex justify-around">
      <div class="flex flex-col" *ngFor="let item of category[selectedSection].sections">
        <h1 class="text center">{{item.name}}</h1>
        <button mat-button *ngFor="let section of item.items">{{section.name}}</button>
      </div>
      <div class="hidden lg:block">
        <div class="mb-5">
          <img class="w-[19rem] h-[20rem] object-cover object-top rounded-md" src="https://images.pexels.com/photos/7686122/pexels-photo-7686122.jpeg?auto=compress&cs=tinysrgb&w=600">
        </div>
        <p class="text-gray-600">New Arival</p>
      </div>
      <div class="hidden lg:block">
        <div class="mb-5">
          <img class="w-[19rem] h-[20rem] object-cover object-top rounded-md" src="https://images.pexels.com/photos/19879797/pexels-photo-19879797/free-photo-of-portrait-of-woman-wearing-sari.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load">
        </div>
        <p class="text-gray-600">New Arival</p>
      </div>
    </div>
  </div>
</div>